.title {
    position: relative;
    text-align: center;
    margin: auto;
    width: 50%;
    border-bottom-style: dotted;
    border-color: #a5d63f;
    border-bottom-width: 2px;
}

li {
    padding-top: 10px;
    padding-left: 10%;
    margin: 10px;
    font-size: 30px;
    list-style-image: url("../pics/dot.png");
    list-style-position: inside;
}

/*单选框*/
.grade {
    margin: 20px;
    font-size: 35px;
    color: #FFFFFF;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 6px;
    background-color: darkgray;
    border-color: dimgray;
    position: relative;
    left: 20%;
}

.grade:hover {
    background-color: gold;
}

input[type="radio"]:checked + .grade {
    background-color: gold;
}

/*复选框*/
.pbtype {
    width: 60px;
    margin: 10px 40px 20px 0px;
    font-size: 40px;
    color: dimgrey;
    padding: auto;
    text-align: center;
    border-radius: 10px;
    border-color: #5e5e5e;
    border-style: dashed;
    border-width: 3px;
}

.pbtype:hover {
    border-color: gold;
}

input[type="checkbox"]:checked + .pbtype {
    border-color: gold;
    color: black;
}

/*按钮*/
.mybtn {
    background-color: darkgoldenrod;
    margin: 20px auto;
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: bolder;
    position: center;
    display: block;
    text-decoration: none;
}

.mybtn:hover {
    background-color: gold;
}

/*欢迎框*/
#usergreet {
    position: absolute;
    z-index: 5;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: #ec971f;
    width: 250px;
    height: 200px;
    border-width: 3px;
    border-color: gold;
    border-style: dotted double double;
    border-radius: 10px;
    padding: 20px;
    right: 5%;
    top: 10%;
}